<div *ngIf="room">
  <h3>{{ room.name }}</h3>
  <div id="messages">
    <p *ngFor="let message of room.messages" class="message">
      <span class="timestamp">{{ formatTimestamp(message.timestamp) }}</span>
      {{ message.username + ' says ' + message.message }} </p>
  </div>

  <form>
    <div class="form-group row">
      <div class="col-sm-9">
        <input class="form-control" type="text" [(ngModel)]="messageToSend" name="message" placeholder="Hi !">
      </div>
      <button class="col-sm-2 btn btn-primary" (click)="onSendMessage()">Send message</button>
    </div>
  </form>
</div>
